{% extends 'headers.html' %}
{% load static %}
{% block title %}{{app_name}}-{{ title }}{% endblock %}
{% block imports %}
<link href="{% static 'css/home/index.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div class="container">
    <div class="sideNavContainer">
        <nav class="IndexPage-nav">
            <ul>
                <li class="item-newDiscussion">
                    <button class="puclish-topics" type="button">Publicar</button>
                </li>
                <li class="item-nav">
                    <div class="dropdown">
                        <button class="all-topics" type="button"><i class="fa-regular fa-comments"></i> Todos tópicos</button>
                    </div>
                </li>
                <li class="separator"></li>
            </ul>
        </nav>
        <div class="IndexPage-results">
            <div class="post-form" style="display: none;">
                {% csrf_token %}
                <label for="Category" style="display:block; font-weight: bolder;">Category</label>
                <select class="input-category" name="category">
                    {% for category in categories %}
                        <option value="{{category.0}}">{{category.1}}</option>
                    {% endfor %}
                </select>
                <label for="title" style="display:block; font-weight: bolder;">Título</label>
                <input class="input-title" type="text" name="title" placeholder="Escreva seu título"></input>
                <textarea class="input-content" placeholder="Escreva seu post..." style="height:150px;"></textarea>
                <div class="post-form-footer">
                    <button class="button-form" onclick="Post_API()">Publicar</button>
                </div>
            </div>
            <div class="posts">
                    
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script>
    $(document).ready(
        $.ajax({
            url: '{% url "Post-API" %}',
            type: 'GET',
            success: function (data) {
                var totalCount = data.length;
                 console.log(data);
                console.log(data[4].comments_array[0].comment);
                var structure = '';
                for (let i = 0; i < totalCount; i++){
                    structure += '<div class="discussion"><div class="link-discussion" type="button" onclick="Redirect_topic('+data[i].id+')">'+
                    '<div class="title-discussion">'+ data[i].title+ '</div>'+
                    '<div class="icon-comments"><i id="comments-button" class="fa-regular fa-comments"></i>'+ data[i].comments_array.length +'</div>'+
                    '<div class="content-discussion">'+ data[i].content +'</div>'+
                    '<div class="footer-discussion">'+
                        '<div class="author-discussion"><span style="font-weight: bolder;">Autor: </span>'+ data[i].first_name +' '+ data[i].last_name +'</div>'+
                        '<div class="category-discussion"><span style="font-weight: bolder;">Categoria: </span>'+ data[i].category_name +'</div>'+
                        '<div class="date-discussion"><span style="font-weight: bolder;">Data da  publicação: </span>'+ data[i].publish_date  +'</div>'+
                    '</div>'+
                '</div></div>'
                }

                $('.posts').html(structure);
            },
            error: function (data) {
                console.log(data);
            }

        })
    );
    function showComments(id){
        if ($('.comments-discussion-'+id).css('display') == 'none'){
            $('.comments-discussion-'+id).css('display', 'block');
        }else{
            $('.comments-discussion-'+id).css('display', 'none');
        }
    }
    function Redirect_topic(id){
        window.location.href = "/topics/"+id;
    }
    function Post_API() {
            const date = new Date().toJSON();
            var category = $('.input-category').val();
            var title = $('.input-title').val();
            var content = $('.input-content').val();
            var csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
            fetch('{% url "Post-API" %}', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'X-CSRFToken': csrf_token
            },
            body: JSON.stringify({
                category: category,
                title: title,
                content: content,
                publish_date: date
            })
            }).then(function(response) {
                category = $('.input-category').val('');
                title = $('.input-title').val('');
                content = $('.input-content').val('');
                location.reload();
                return response.json();
            }).then(function(data) {
                console.log(data);
            });
        }
    $(document).ready(function() {
        $('.puclish-topics').click(function() {
            {% if user.is_authenticated %}
            if ($('.post-form').css('display') == 'none') {
                $('.post-form').css('display', 'block');
            } else {
                $('.post-form').css('display', 'none');
            }
            {% else %}
                window.location.href = "{% url 'Login' %}";
            {% endif %}

        });
    });
</script>
{% endblock %}